<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
</head>

<body>

    <header>
        <div class="logo">
            Logo
        </div>
        <div class="navi">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="url" name="input" value="" Client.onblur="onBlur()" placeholder="Enter a url starting with http or https">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                <div id="error"></div>
            </form>

        </section>

        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
            <div id="nlp-response">
                <ul id="nlp-results">
                    <li id="polarity"></li>
                    <li id="polarity_confidence"></li>
                    <li id="subjectivity"></li>
                    <li id="subjectivity_confidence"></li>
                    <li id="text"></li>
                    <li id="err"></li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <!-- <script>
        // check that service workers are supported
        if ('serviceWorker' in navigator) {

            // use window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->
</body>

</html>

<!-- 
    const WorkboxPlugin = require('workbox-webpack-plugin');

    new WorkboxPlugin.GenerateSW()

    npm install workbox-webpack-plugin --save-dev

    <script>
 // Check that service workers are supported
 if ('serviceWorker' in navigator) {
     // Use the window load event to keep the page load performant
     window.addEventListener('load', () => {
         navigator.serviceWorker.register('/service-worker.js');
     });
 }
</script>




getting runtime generate error
install: npm i regenerator-runtime
import to js: import "regenerator-runtime/runtime";
 -->